* {
    background-color: black;
    color: white;
    text-align:center;
}

header {
    position:sticky;
    top:0;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

#clue {
    position: fixed;
    bottom: -20px;
}